@using CoreProject.Areas.Admin.Models
@model List<RoleAssignViewModel>
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form action="/" method="post">
 
</form>