
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btnGetList" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btnGetById" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnAddWriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btnDeleteWriter" class="btn btn-outline-danger">Yazar Sil</button>
<button type="button" id="btnUpdateWriter" class="btn btn-outline-danger">Yazar Güncelle</button>
<br />
<br />
<div id="writerList">
    Yazarlar Gelecek
</div>
<br />
<div id="writerGet">

</div>
<br />
<div>
    <input type="text" id="writerId" placeholder="Yazar Id Değeri Giriniz..." class="form-control" />
</div>
<br />
<div>
    <input type="text" class="form-control" id="txtWriterId" placeholder="Yazar ID" />
    <br />
    <input type="text" class="form-control" id="txtWriterName" placeholder="Yazar Adı" />
    <br />
</div>

<br />

<div>
    <input type="text" class="form-control" id="txtId" placeholder="Yazar ID" />
</div>
<br />
<input type="text" id="txtUpdateId" class="form-control" placeholder="Güncellenecek ID" />
<input type="text" id="txtUpdateName" class="form-control" placeholder="Güncellenecek İsim" />

@section scripts
{
    <script>
        $("#btnGetList").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tableHtml = "<table class=table table-bordered> <tr> <th>Yazar ID</th> <th> Yazar Adı </th> </tr>";
                    $.each(w,
                        (index, value) => {
                            tableHtml += `<tr><td>${value.Id}</td> <td>${value.Name} </td> </tr>`
                        });
                    tableHtml += "</table>";
                    $("#writerList").html(tableHtml);
                }
            });
        });

        $("#btnGetById").click(x => {
            let id = $("#writerId").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetWriterById/",
                data: { writerId: id },
                success: function (func) {
                    let writer = jQuery.parseJSON(func);
                    console.log(writer);

                    let getValue = `<table class=table table-bordered> <tr><th>Yazar Id </th> <th> Yazar Adı </th> </tr> <tr> <td>${writer.Id} </td> <td>${writer.Name} </td> </tr> </table>`;

                    $("#writerGet").html(getValue);

                }
            });

        });

        $("#btnAddWriter").click(function () {
            let writer = {
                Id: $("#txtWriterId").val(),
                Name: $("#txtWriterName").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/Add/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Yazar Eklendi");
                }
            });
        });

        $("#btnDeleteWriter").click(x => {

            let id = $("#txtId").val();

            $.ajax({
                url: "/Admin/Writer/Delete/" + id,
                type: "post",
                dataType: "json",
                success: function (func) {
                    alert("Silme işlemi gerçekleştirildi...");
                }
            });
        });


        $("#btnUpdateWriter").click(function () {

            let writer = {
                Id: $("#txtUpdateId").val(),
                Name: $("#txtUpdateName").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/Update/",
                data: writer,
                success: function (func) {
                    alert("Güncelleme Yapıldı");
                }
            });
        });

    </script>
}
